.git
.github
.gitignore
.env
.env.*
!.env.example
.phpunit.result.cache
.Dockerfile.kate-swp

node_modules
vendor

storage/debugbar
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs

bootstrap/cache/*
!bootstrap/cache/.gitignore
